In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [34]:
def read_ascii(path, names):
    return pd.read_table(path, sep='^', na_values='^^|~~', header=None, names=names, quotechar='~', encoding='Latin-1')

In [35]:
fd_group = read_ascii('SR-Leg_ASC/FD_GROUP.txt', names=['FdGrp_Cd', 'FdGrp_desc'])

In [36]:
fd_group.head()

   FdGrp_Cd              FdGrp_desc
0       100  Dairy and Egg Products
1       200        Spices and Herbs
2       300              Baby Foods
3       400           Fats and Oils
4       500        Poultry Products

In [29]:
fd_group.shape

(25, 2)

In [38]:
langual = read_ascii('SR-Leg_ASC/LANGUAL.txt', names=["NDB_No", "Factor"])

In [39]:
langual.head()

   NDB_No Factor
0    2001  A0113
1    2001  A1272
2    2001  B1356
3    2001  C0140
4    2001  E0106

In [40]:
langual.shape

(37910, 2)

In [41]:
langdesc = read_ascii('SR-Leg_ASC/LANGDESC.txt', names=["Factor", "Description"])

In [42]:
langdesc.head()

  Factor                                        Description
0  A0107               BAKERY PRODUCT, UNSWEETENED (US CFR)
1  A0113                             SPICE OR HERB (US CFR)
2  A0125                   GRAIN OR STARCH PRODUCT (US CFR)
3  A0127                               FRUIT JUICE (US CFR)
4  A0129  REFINED OR PARTIALLY-REFINED FOOD PRODUCT (US ...

In [43]:
langdesc.shape

(773, 2)

In [44]:
food_des = read_ascii('SR-Leg_ASC/FOOD_DES.txt', names=["NDB_No", "FdGrp_Cd", "Long_Desc", "Shrt_Desc",
                                            "Com_Name", "ManufacName", "Survey", "Ref_Desc",
                                            "Refuse", "Sci_Name", "N_FActor", "Pro_Factor_",
                                            "Fat_Factor_", "CHO_Factor" ])

In [45]:
food_des.head()

,NDB_No,FdGrp_Cd,Long_Desc,Shrt_Desc,Com_Name,ManufacName,Survey,Ref_Desc,Refuse,Sci_Name,N_FActor,Pro_Factor_,Fat_Factor_,CHO_Factor
0,1001,100,"Butter, salted","BUTTER,WITH SALT",NaN,NaN,Y,NaN,0.0,NaN,6.38,4.27,8.79,3.87
1,1002,100,"Butter, whipped, with salt","BUTTER,WHIPPED,W/ SALT",NaN,NaN,Y,NaN,0.0,NaN,6.38,NaN,NaN,NaN
2,1003,100,"Butter oil, anhydrous","BUTTER OIL,ANHYDROUS",NaN,NaN,Y,NaN,0.0,NaN,6.38,4.27,8.79,3.87
3,1004,100,"Cheese, blue","CHEESE,BLUE",NaN,NaN,Y,NaN,0.0,NaN,6.38,4.27,8.79,3.87
4,1005,100,"Cheese, brick","CHEESE,BRICK",NaN,NaN,Y,NaN,0.0,NaN,6.38,4.27,8.79,3.87

In [46]:
food_des.shape

(7793, 14)

In [47]:
nut_data = read_ascii('SR-Leg_ASC/NUT_DATA.txt', 
                      names=["NDB_No", "Nutr_No", "Nutr_Val", "Num_Data_Pts", "Std_Error",
                               "Src_Cd", "Deriv_Cd", "Ref_NDB_No", "Add_Nutr_Mark",
                               "Num_Studies", "Min", "Max", "DF", "Low_EB", "Up_EB",
                               "Stat_Cmt", "AddMod_Date"])

/usr/local/anaconda3/envs/mle_nd/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2903: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [48]:
nut_data.head()

,NDB_No,Nutr_No,Nutr_Val,Num_Data_Pts,Std_Error,Src_Cd,Deriv_Cd,Ref_NDB_No,Add_Nutr_Mark,Num_Studies,Min,Max,DF,Low_EB,Up_EB,Stat_Cmt,AddMod_Date
0,1001,208,717.0,0,NaN,4,NC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,08/01/2010
1,1001,262,0.0,0,NaN,7,Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,02/01/2001
2,1001,263,0.0,0,NaN,7,Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,02/01/2001
3,1001,268,2999.0,0,NaN,4,NC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09/01/2015
4,1001,301,24.0,17,0.0,1,A,NaN,NaN,7.0,19.0,30.0,4.0,22.0,26.0,"2, 3",11/01/2002

In [33]:
nut_data.shape

(644125, 17)

In [49]:
nutr_def = read_ascii('SR-Leg_ASC/NUTR_DEF.txt', names=["Nutr_no",
    "Units", "Tagname", "NutrDesc", "Num_Dec", "SR_Order"])

In [50]:
nutr_def.head()

   Nutr_no Units     Tagname                     NutrDesc  Num_Dec  SR_Order
0      203     g      PROCNT                      Protein        2       600
1      204     g         FAT            Total lipid (fat)        2       800
2      205     g      CHOCDF  Carbohydrate, by difference        2      1100
3      207     g         ASH                          Ash        2      1000
4      208  kcal  ENERC_KCAL                       Energy        0       300

In [51]:
nutr_def.shape

(149, 6)

In [52]:
weight = read_ascii('SR-Leg_ASC/WEIGHT.txt', names=["NDB_No", "Seq", "Amount", "Msre_Desc",
                                                    "Gm_Wgt", "Num_Data_pts", "Std_Dev"])

In [53]:
weight.head()

   NDB_No  Seq  Amount               Msre_Desc  Gm_Wgt  Num_Data_pts  Std_Dev
0    1001    1     1.0  pat (1" sq, 1/3" high)     5.0           NaN      NaN
1    1001    2     1.0                    tbsp    14.2           NaN      NaN
2    1001    3     1.0                     cup   227.0           NaN      NaN
3    1001    4     1.0                   stick   113.0           NaN      NaN
4    1002    1     1.0  pat (1" sq, 1/3" high)     3.8           NaN      NaN

In [54]:
weight.shape

(14449, 7)

In [57]:
F_groups = [100, 400, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1600, 1800, 1900, 2000, 2100, 2500, 3600]

fd_group[fd_group.FdGrp_Cd.isin(F_groups)]

    FdGrp_Cd                         FdGrp_desc
0        100             Dairy and Egg Products
3        400                      Fats and Oils
5        600         Soups, Sauces, and Gravies
6        700        Sausages and Luncheon Meats
7        800                  Breakfast Cereals
8        900            Fruits and Fruit Juices
9       1000                      Pork Products
10      1100  Vegetables and Vegetable Products
11      1200              Nut and Seed Products
12      1300                      Beef Products
15      1600        Legumes and Legume Products
17      1800                     Baked Products
18      1900                             Sweets
19      2000            Cereal Grains and Pasta
20      2100                         Fast Foods
22      2500                             Snacks
24      3600                   Restaurant Foods

In [106]:
food_des[food_des.FdGrp_Cd.isin(F_groups)]

,NDB_No,FdGrp_Cd,Long_Desc,Shrt_Desc,Com_Name,ManufacName,Survey,Ref_Desc,Refuse,Sci_Name,N_FActor,Pro_Factor_,Fat_Factor_,CHO_Factor
0,1001,100,"Butter, salted","BUTTER,WITH SALT",NaN,NaN,Y,NaN,0.0,NaN,6.38,4.27,8.79,3.87
1,1002,100,"Butter, whipped, with salt","BUTTER,WHIPPED,W/ SALT",NaN,NaN,Y,NaN,0.0,NaN,6.38,NaN,NaN,NaN
2,1003,100,"Butter oil, anhydrous","BUTTER OIL,ANHYDROUS",NaN,NaN,Y,NaN,0.0,NaN,6.38,4.27,8.79,3.87
3,1004,100,"Cheese, blue","CHEESE,BLUE",NaN,NaN,Y,NaN,0.0,NaN,6.38,4.27,8.79,3.87
4,1005,100,"Cheese, brick","CHEESE,BRICK",NaN,NaN,Y,NaN,0.0,NaN,6.38,4.27,8.79,3.87
5,1006,100,"Cheese, brie","CHEESE,BRIE",NaN,NaN,Y,NaN,0.0,NaN,6.38,4.27,8.79,3.87
6,1007,100,"Cheese, camembert","CHEESE,CAMEMBERT",NaN,NaN,Y,NaN,0.0,NaN,6.38,4.27,8.79,3.87
7,1008,100,"Cheese, caraway","CHEESE,CARAWAY",NaN,NaN,NaN,NaN,0.0,NaN,6.38,4.27,8.79,3.87
8,1009,100,"Cheese, cheddar (Includes foods for USDA's Foo...","CHEESE,CHEDDAR",NaN,NaN,Y,NaN,0.0,NaN,NaN,NaN,NaN,NaN
9,1010,100,"Cheese, cheshire","CHEESE,CHESHIRE",NaN,NaN,NaN,NaN,0.0,NaN,6.38,4.27,8.79,3.87
10,1011,100,"Cheese, colby","CHEESE,COLBY",NaN,NaN,Y,NaN,0.0,NaN,6.38,4.27,8.79,3.87
11,1012,100,"Cheese, cottage, creamed, large or small curd","CHEESE,COTTAGE,CRMD,LRG OR SML CURD",NaN,NaN,Y,NaN,0.0,NaN,6.38,4.27,8.79,3.87
12,1013,100,"Cheese, cottage, creamed, with fruit","CHEESE,COTTAGE,CRMD,W/FRUIT",NaN,NaN,Y,NaN,0.0,NaN,6.38,4.27,8.79,3.87
13,1014,100,"Cheese, cottage, nonfat, uncreamed, dry, large...","CHEESE,COTTAGE,NONFAT,UNCRMD,DRY,LRG OR SML CURD",NaN,NaN,Y,NaN,0.0,NaN,6.38,4.27,8.79,3.87
14,1015,100,"Cheese, cottage, lowfat, 2% milkfat","CHEESE,COTTAGE,LOWFAT,2% MILKFAT",NaN,NaN,Y,NaN,0.0,NaN,6.38,NaN,NaN,NaN
15,1016,100,"Cheese, cottage, lowfat, 1% milkfat","CHEESE,COTTAGE,LOWFAT,1% MILKFAT",NaN,NaN,Y,NaN,0.0,NaN,6.38,4.27,8.79,3.87
16,1017,100,"Cheese, cream","CHEESE,CREAM",NaN,NaN,Y,NaN,0.0,NaN,6.38,4.27,8.79,3.87
17,1018,100,"Cheese, edam","CHEESE,EDAM",NaN,NaN,Y,NaN,0.0,NaN,6.38,4.27,8.79,3.87
18,1019,100,"Cheese, feta","CHEESE,FETA",NaN,NaN,Y,NaN,0.0,NaN,6.38,4.27,8.79,3.87
19,1020,100,"Cheese, fontina","CHEESE,FONTINA",NaN,NaN,Y,NaN,0.0,NaN,6.38,4.27,8.79,3.87
20,1021,100,"Cheese, gjetost","CHEESE,GJETOST",NaN,NaN,NaN,NaN,0.0,NaN,6.38,4.27,8.79,3.87
21,1022,100,"Cheese, gouda","CHEESE,GOUDA",NaN,NaN,Y,NaN,0.0,NaN,6.38,4.27,8.79,3.87
22,1023,100,"Cheese, gruyere","CHEESE,GRUYERE",NaN,NaN,Y,NaN,0.0,NaN,6.38,4.27,8.79,3.87
23,1024,100,"Cheese, limburger","CHEESE,LIMBURGER",NaN,NaN,Y,NaN,0.0,NaN,6.38,4.27,8.79,3.87
24,1025,100,"Cheese, monterey","CHEESE,MONTEREY",NaN,NaN,Y,NaN,0.0,NaN,6.38,4.27,8.79,3.87
25,1026,100,"Cheese, mozzarella, whole milk","CHEESE,MOZZARELLA,WHL MILK",NaN,NaN,Y,NaN,0.0,NaN,6.38,4.27,8.79,3.87
26,1027,100,"Cheese, mozzarella, whole milk, low moisture","CHEESE,MOZZARELLA,WHL MILK,LO MOIST",NaN,NaN,Y,NaN,0.0,NaN,6.38,4.27,8.79,3.87
27,1028,100,"Cheese, mozzarella, part skim milk","CHEESE,MOZZARELLA,PART SKIM MILK",NaN,NaN,Y,NaN,0.0,NaN,6.38,4.27,8.79,3.87
28,1029,100,"Cheese, mozzarella, low moisture, part-skim","CHEESE,MOZZARELLA,LO MOIST,PART-SKIM",NaN,NaN,Y,NaN,0.0,NaN,6.38,NaN,NaN,NaN
29,1030,100,"Cheese, muenster","CHEESE,MUENSTER",NaN,NaN,Y,NaN,0.0,NaN,6.38,4.27,8.79,3.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7741,43410,1600,"Chicken, meatless, breaded, fried","CHICKEN,MEATLESS,BREADED,FRIED",NaN,NaN,Y,NaN,0.0,NaN,NaN,NaN,NaN,NaN
7744,43441,1800,"Rolls, pumpernickel","ROLLS,PUMPERNICKEL",NaN,NaN,Y,NaN,0.0,NaN,6.25,NaN,NaN,NaN
7745,43447,2500,"Snacks, corn-based, extruded, chips, unsalted","SNACKS,CORN-BASED,EXTRUDED,CHIPS,UNSALTED",NaN,NaN,Y,NaN,0.0,NaN,6.25,NaN,NaN,NaN
7746,43449,1600,"Beans, baked, canned, no salt added","BEANS,BKD,CND,NO SALT ADDED",NaN,NaN,Y,NaN,0.0,NaN,NaN,NaN,NaN,NaN
7747,43450,1900,"Frozen novelties, juice type, juice with cream","FROZEN NOVELTIES,JUC TYPE,JUC W/ CRM",NaN,NaN,Y,NaN,0.0,NaN,6.25,4.00,9.00,4.00
7748,43476,1600,Tofu yogurt,TOFU YOGURT,NaN,NaN,Y,NaN,0.0,NaN,NaN,NaN,NaN,NaN
7750,43483,800,"Millet, puffed","MILLET,PUFFED",NaN,NaN,Y,NaN,0.0,NaN,NaN,NaN,NaN,NaN
7751,43495,800,"Cereals ready-to-eat, OAT BRAN FLAKES, HEALTH ...","CEREALS RTE,OAT BRAN FLAKES,HEALTH VALLEY",NaN,"Hain Celestial Group, Inc.",Y,NaN,0.0,NaN,NaN,NaN,NaN,NaN
7753,43506,1900,"Frozen novelties, ice cream type, chocolate or...","ICE CRM BAR,CHOC OR CARAMEL COVERED,W/NUTS",NaN,NaN,Y,NaN,0.0,NaN,6.25,NaN,NaN,NaN
7754,43507,700,"Frankfurter, low sodium","FRANKFURTER,LO NA","hot dog, wiener, frank",NaN,Y,NaN,0.0,NaN,NaN,NaN,NaN,NaN
7755,43514,1900,"Frozen novelties, ice type, pop, with low calo...","FROZEN NOVELTIES,ICE TYPE,POP,W/ LO CAL SWTNR",NaN,NaN,Y,NaN,0.0,NaN,6.25,4.00,9.00,4.00
7763,43541,1900,"Ice creams, chocolate, rich","ICE CREAMS,CHOC,RICH",NaN,NaN,Y,NaN,0.0,NaN,6.25,NaN,NaN,NaN
7764,43543,100,"Milk, imitation, non-soy","MILK,IMITATION,NON-SOY",NaN,NaN,Y,NaN,0.0,NaN,6.38,NaN,NaN,NaN
7768,43566,2500,"Snacks, tortilla chips, light (baked with less...","SNACKS,TORTILLA CHIPS,LT (BAKED W/ LESS OIL)",NaN,NaN,Y,NaN,0.0,NaN,6.25,NaN,NaN,NaN
7769,43570,800,"Cereals ready-to-eat, POST, HONEY BUNCHES OF O...","CEREALS RTE,POST,HONEY BUNCHES OF OATS,HONEY RSTD",NaN,"Post Foods, LLC",Y,NaN,0.0,NaN,NaN,NaN,NaN,NaN
7770,43572,2500,"Popcorn, microwave, low fat and sodium","POPCORN,MICROWAVE,LOFAT&NA",NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
7772,43589,100,"Cheese, swiss, low fat","CHEESE,SWISS,LOW FAT",NaN,NaN,Y,NaN,0.0,NaN,6.38,NaN,NaN,NaN
7773,43595,2500,"Breakfast bar, corn flake crust with fruit","BREAKFAST BAR,CORN FLAKE CRUST W/FRUIT",NaN,NaN,Y,NaN,0.0,NaN,NaN,NaN,NaN,NaN
7774,43597,100,"Cheese, mozzarella, low sodium","CHEESE,MOZZARELLA,LO NA",NaN,NaN,Y,NaN,0.0,NaN,6.38,NaN,NaN,NaN
7775,43598,400,"Mayonnaise dressing, no cholesterol","MAYONNAISE DRSNG,NO CHOL",NaN,NaN,NaN,NaN,0.0,NaN,NaN,4.36,8.84,3.80
7776,44005,400,"Oil, corn, peanut, and olive","OIL,CORN,PEANUT,AND OLIVE",NaN,NaN,Y,NaN,0.0,NaN,NaN,NaN,NaN,NaN
7777,44018,1900,"Sweeteners, tabletop, fructose, liquid","SWEETENERS,TABLETOP,FRUCTOSE,LIQ",NaN,NaN,Y,NaN,0.0,NaN,6.25,0.00,0.00,3.66
7778,44061,1900,"Puddings, chocolate flavor, low calorie, insta...","PUDDINGS,CHOC FLAVOR,LO CAL,INST,DRY MIX",NaN,NaN,Y,NaN,0.0,NaN,6.25,4.00,9.00,4.00
7780,44110,1900,"Jellies, reduced sugar, home preserved","JELLIES,RED SUGAR,HOME PRESERVED",NaN,NaN,Y,NaN,0.0,NaN,6.25,NaN,NaN,NaN
7781,44158,1900,"Pie fillings, blueberry, canned","PIE FILLINGS,BLUEBERRY,CND",NaN,NaN,Y,NaN,0.0,NaN,6.25,4.00,9.00,4.00
7783,44258,1900,"Puddings, chocolate flavor, low calorie, regul...","PUDDINGS,CHOC FLAVOR,LO CAL,REG,DRY MIX",NaN,NaN,Y,NaN,0.0,NaN,6.25,4.00,9.00,4.00
7784,44259,1900,"Puddings, all flavors except chocolate, low ca...","PUDDINGS,ALL FLAVORS XCPT CHOC,LO CAL,REG,DRY MIX",NaN,NaN,Y,NaN,0.0,NaN,6.25,4.00,9.00,4.00
7785,44260,1900,"Puddings, all flavors except chocolate, low ca...","PUDDINGS,ALL FLAVORS XCPT CHOC,LO CAL,INST,DRY...",NaN,NaN,Y,NaN,0.0,NaN,6.25,4.00,9.00,4.00
7786,48052,2000,Vital wheat gluten,VITAL WHEAT GLUTEN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
7790,90480,1900,"Syrup, Cane","SYRUP,CANE",NaN,NaN,NaN,NaN,0.0,NaN,6.25,0.00,0.00,3.68

In [59]:
food_des[food_des.FdGrp_Cd.isin(F_groups)].shape

(5662, 14)

In [103]:
reg_by_grp = pd.DataFrame([{'FdGrp_Cd':f, 'FdGrp_items': food_des[food_des.FdGrp_Cd == f].shape[0]} for f in F_groups])
flt_grp = fd_group[fd_group.FdGrp_Cd.isin(F_groups)]

In [105]:
sz_by_grp = flt_grp.merge(reg_by_grp, left_on='FdGrp_Cd', right_on='FdGrp_Cd', how='outer')

In [107]:
sz_by_grp

    FdGrp_Cd                         FdGrp_desc  FdGrp_items
0        100             Dairy and Egg Products          291
1        400                      Fats and Oils          216
2        600         Soups, Sauces, and Gravies          254
3        700        Sausages and Luncheon Meats          167
4        800                  Breakfast Cereals          195
5        900            Fruits and Fruit Juices          355
6       1000                      Pork Products          336
7       1100  Vegetables and Vegetable Products          814
8       1200              Nut and Seed Products          137
9       1300                      Beef Products          954
10      1600        Legumes and Legume Products          290
11      1800                     Baked Products          517
12      1900                             Sweets          358
13      2000            Cereal Grains and Pasta          181
14      2100                         Fast Foods          312
15      2500                             Snacks          176
16      3600                   Restaurant Foods          109