In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [6]:
nutrients_dt = pd.read_csv('BFPD_csv_07132018/Nutrients.csv')
products_dt = pd.read_csv('BFPD_csv_07132018/Products.csv')

/usr/local/anaconda3/envs/mle_nd/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
nutrients_dt.head()

,NDB_No,Nutrient_Code,Nutrient_name,Derivation_Code,Output_value,Output_uom
0,45127487,203,Protein,LCGA,4.3,g
1,45127487,204,Total lipid (fat),LCGA,18.9,g
2,45127487,205,"Carbohydrate, by difference",LCGA,72.8,g
3,45127487,207,Ash,LCGA,2.0,g
4,45127487,255,Water,LCGA,2.0,g

In [7]:
products_dt.head()

,NDB_Number,long_name,data_source,gtin_upc,manufacturer,date_modified,date_available,ingredients_english
0,45001524,MOCHI ICE CREAM BONBONS,LI,19022128593,"G. T. Japan, Inc.",2017-11-15 19:19:38,2017-11-15 19:19:38,"ICE CREAM INGREDIENTS: MILK, CREAM, SUGAR, STR..."
1,45001528,CHIPOTLE BARBECUE SAUCE,LI,5051379043735,FRESH & EASY,2018-04-26 17:23:31,2018-04-26 17:23:31,"WATER, SUGAR, TOMATO PASTE, MOLASSES, DISTILLE..."
2,45001529,HOT & SPICY BARBECUE SAUCE,LI,5051379009434,FRESH & EASY,2018-04-26 18:17:37,2018-04-26 18:17:37,"SUGAR, WATER, DISTILLED VINEGAR, TOMATO PASTE,..."
3,45001530,BARBECUE SAUCE,LI,5051379019969,FRESH & EASY,2018-04-26 17:24:00,2018-04-26 17:24:00,"TOMATO PUREE (WATER, TOMATO PASTE), SUGAR, DIS..."
4,45001531,BARBECUE SAUCE,LI,5051379009526,FRESH & EASY,2018-04-26 17:47:41,2018-04-26 17:47:41,"SUGAR, DISTILLED VINEGAR, WATER, TOMATO PASTE,..."

In [9]:
print(products_dt.shape)

(239089, 8)

In [10]:
products_dt.data_source.unique

0           LI
1           LI
2           LI
3           LI
4           LI
5           LI
6           LI
7           LI
8           LI
9           LI
10          LI
11          LI
12          LI
13          LI
14          LI
15          LI
16          LI
17          LI
18          LI
19          LI
20          LI
21          LI
22          LI
23          LI
24          LI
25          LI
26          LI
27          LI
28          LI
29          LI
          ...
239059      LI
239060      LI
239061      LI
239062      LI
239063      LI
239064    GDSN
239065    GDSN
239066    GDSN
239067    GDSN
239068    GDSN
239069    GDSN
239070    GDSN
239071    GDSN
239072    GDSN
239073    GDSN
239074    GDSN
239075    GDSN
239076    GDSN
239077    GDSN
239078    GDSN
239079    GDSN
239080    GDSN
239081    GDSN
239082    GDSN
239083    GDSN
239084    GDSN
239085    GDSN
239086    GDSN
239087    GDSN
239088    GDSN
Name: data_source, Length: 239089, dtype: object