In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
def read_ascii(path, names):
    return pd.read_table(path, sep='^', na_values='^^|~~', header=None, names=names, quotechar='~', encoding='Latin-1')

In [2]:
!ipython nbcovert --to=python Subset.ipynb

'ipython' n�o � reconhecido como um comando interno
ou externo, um programa oper�vel ou um arquivo em lotes.

In [3]:
fd_group = read_ascii('SR-Leg_ASC/FD_GROUP.txt', names=['FdGrp_Cd', 'FdGrp_desc'])

In [4]:
fd_group.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>FdGrp_Cd</th>
      <th>FdGrp_desc</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>100</td>
      <td>Dairy and Egg Products</td>
    </tr>
    <tr>
      <th>1</th>
      <td>200</td>
      <td>Spices and Herbs</td>
    </tr>
    <tr>
      <th>2</th>
      <td>300</td>
      <td>Baby Foods</td>
    </tr>
    <tr>
      <th>3</th>
      <td>400</td>
      <td>Fats and Oils</td>
    </tr>
    <tr>
      <th>4</th>
      <td>500</td>
      <td>Poultry Products</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
fd_group.shape

(25, 2)

In [6]:
langual = read_ascii('SR-Leg_ASC/LANGUAL.txt', names=["NDB_No", "Factor"])

In [7]:
langual.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>NDB_No</th>
      <th>Factor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2001</td>
      <td>A0113</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2001</td>
      <td>A1272</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2001</td>
      <td>B1356</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2001</td>
      <td>C0140</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2001</td>
      <td>E0106</td>
    </tr>
  </tbody>
</table>
</div>

In [8]:
langual.shape

(37910, 2)

In [9]:
langdesc = read_ascii('SR-Leg_ASC/LANGDESC.txt', names=["Factor", "Description"])

In [10]:
langdesc.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Factor</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>A0107</td>
      <td>BAKERY PRODUCT, UNSWEETENED (US CFR)</td>
    </tr>
    <tr>
      <th>1</th>
      <td>A0113</td>
      <td>SPICE OR HERB (US CFR)</td>
    </tr>
    <tr>
      <th>2</th>
      <td>A0125</td>
      <td>GRAIN OR STARCH PRODUCT (US CFR)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>A0127</td>
      <td>FRUIT JUICE (US CFR)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>A0129</td>
      <td>REFINED OR PARTIALLY-REFINED FOOD PRODUCT (US ...</td>
    </tr>
  </tbody>
</table>
</div>

In [11]:
langdesc.shape

(773, 2)

In [12]:
food_des = read_ascii('SR-Leg_ASC/FOOD_DES.txt', names=["NDB_No", "FdGrp_Cd", "Long_Desc", "Shrt_Desc",
                                            "Com_Name", "ManufacName", "Survey", "Ref_Desc",
                                            "Refuse", "Sci_Name", "N_FActor", "Pro_Factor_",
                                            "Fat_Factor_", "CHO_Factor" ])

In [13]:
food_des.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>NDB_No</th>
      <th>FdGrp_Cd</th>
      <th>Long_Desc</th>
      <th>Shrt_Desc</th>
      <th>Com_Name</th>
      <th>ManufacName</th>
      <th>Survey</th>
      <th>Ref_Desc</th>
      <th>Refuse</th>
      <th>Sci_Name</th>
      <th>N_FActor</th>
      <th>Pro_Factor_</th>
      <th>Fat_Factor_</th>
      <th>CHO_Factor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1001</td>
      <td>100</td>
      <td>Butter, salted</td>
      <td>BUTTER,WITH SALT</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.38</td>
      <td>4.27</td>
      <td>8.79</td>
      <td>3.87</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1002</td>
      <td>100</td>
      <td>Butter, whipped, with salt</td>
      <td>BUTTER,WHIPPED,W/ SALT</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.38</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1003</td>
      <td>100</td>
      <td>Butter oil, anhydrous</td>
      <td>BUTTER OIL,ANHYDROUS</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.38</td>
      <td>4.27</td>
      <td>8.79</td>
      <td>3.87</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1004</td>
      <td>100</td>
      <td>Cheese, blue</td>
      <td>CHEESE,BLUE</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.38</td>
      <td>4.27</td>
      <td>8.79</td>
      <td>3.87</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1005</td>
      <td>100</td>
      <td>Cheese, brick</td>
      <td>CHEESE,BRICK</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.38</td>
      <td>4.27</td>
      <td>8.79</td>
      <td>3.87</td>
    </tr>
  </tbody>
</table>
</div>

In [14]:
food_des.shape

(7793, 14)

In [15]:
nut_data = read_ascii('SR-Leg_ASC/NUT_DATA.txt', 
                      names=["NDB_No", "Nutr_No", "Nutr_Val", "Num_Data_Pts", "Std_Error",
                               "Src_Cd", "Deriv_Cd", "Ref_NDB_No", "Add_Nutr_Mark",
                               "Num_Studies", "Min", "Max", "DF", "Low_EB", "Up_EB",
                               "Stat_Cmt", "AddMod_Date"])

C:\Users\Nicolau\Anaconda3\envs\capstone-project\lib\site-packages\IPython\core\interactiveshell.py:3185: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):

In [16]:
nut_data.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>NDB_No</th>
      <th>Nutr_No</th>
      <th>Nutr_Val</th>
      <th>Num_Data_Pts</th>
      <th>Std_Error</th>
      <th>Src_Cd</th>
      <th>Deriv_Cd</th>
      <th>Ref_NDB_No</th>
      <th>Add_Nutr_Mark</th>
      <th>Num_Studies</th>
      <th>Min</th>
      <th>Max</th>
      <th>DF</th>
      <th>Low_EB</th>
      <th>Up_EB</th>
      <th>Stat_Cmt</th>
      <th>AddMod_Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1001</td>
      <td>208</td>
      <td>717.0</td>
      <td>0</td>
      <td>NaN</td>
      <td>4</td>
      <td>NC</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>08/01/2010</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1001</td>
      <td>262</td>
      <td>0.0</td>
      <td>0</td>
      <td>NaN</td>
      <td>7</td>
      <td>Z</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>02/01/2001</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1001</td>
      <td>263</td>
      <td>0.0</td>
      <td>0</td>
      <td>NaN</td>
      <td>7</td>
      <td>Z</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>02/01/2001</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1001</td>
      <td>268</td>
      <td>2999.0</td>
      <td>0</td>
      <td>NaN</td>
      <td>4</td>
      <td>NC</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>09/01/2015</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1001</td>
      <td>301</td>
      <td>24.0</td>
      <td>17</td>
      <td>0.0</td>
      <td>1</td>
      <td>A</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>7.0</td>
      <td>19.0</td>
      <td>30.0</td>
      <td>4.0</td>
      <td>22.0</td>
      <td>26.0</td>
      <td>2, 3</td>
      <td>11/01/2002</td>
    </tr>
  </tbody>
</table>
</div>

In [17]:
nut_data.shape

(644125, 17)

In [18]:
nutr_def = read_ascii('SR-Leg_ASC/NUTR_DEF.txt', names=["Nutr_no",
    "Units", "Tagname", "NutrDesc", "Num_Dec", "SR_Order"])

In [19]:
nutr_def.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Nutr_no</th>
      <th>Units</th>
      <th>Tagname</th>
      <th>NutrDesc</th>
      <th>Num_Dec</th>
      <th>SR_Order</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>203</td>
      <td>g</td>
      <td>PROCNT</td>
      <td>Protein</td>
      <td>2</td>
      <td>600</td>
    </tr>
    <tr>
      <th>1</th>
      <td>204</td>
      <td>g</td>
      <td>FAT</td>
      <td>Total lipid (fat)</td>
      <td>2</td>
      <td>800</td>
    </tr>
    <tr>
      <th>2</th>
      <td>205</td>
      <td>g</td>
      <td>CHOCDF</td>
      <td>Carbohydrate, by difference</td>
      <td>2</td>
      <td>1100</td>
    </tr>
    <tr>
      <th>3</th>
      <td>207</td>
      <td>g</td>
      <td>ASH</td>
      <td>Ash</td>
      <td>2</td>
      <td>1000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>208</td>
      <td>kcal</td>
      <td>ENERC_KCAL</td>
      <td>Energy</td>
      <td>0</td>
      <td>300</td>
    </tr>
  </tbody>
</table>
</div>

In [20]:
nutr_def.shape

(149, 6)

In [21]:
weight = read_ascii('SR-Leg_ASC/WEIGHT.txt', names=["NDB_No", "Seq", "Amount", "Msre_Desc",
                                                    "Gm_Wgt", "Num_Data_pts", "Std_Dev"])

In [22]:
weight.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>NDB_No</th>
      <th>Seq</th>
      <th>Amount</th>
      <th>Msre_Desc</th>
      <th>Gm_Wgt</th>
      <th>Num_Data_pts</th>
      <th>Std_Dev</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1001</td>
      <td>1</td>
      <td>1.0</td>
      <td>pat (1" sq, 1/3" high)</td>
      <td>5.0</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1001</td>
      <td>2</td>
      <td>1.0</td>
      <td>tbsp</td>
      <td>14.2</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1001</td>
      <td>3</td>
      <td>1.0</td>
      <td>cup</td>
      <td>227.0</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1001</td>
      <td>4</td>
      <td>1.0</td>
      <td>stick</td>
      <td>113.0</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1002</td>
      <td>1</td>
      <td>1.0</td>
      <td>pat (1" sq, 1/3" high)</td>
      <td>3.8</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [23]:
weight.shape

(14449, 7)

In [24]:
F_groups = [100, 400, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1600, 1800, 1900, 2000, 2100, 2500, 3600]

fd_group[fd_group.FdGrp_Cd.isin(F_groups)]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>FdGrp_Cd</th>
      <th>FdGrp_desc</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>100</td>
      <td>Dairy and Egg Products</td>
    </tr>
    <tr>
      <th>3</th>
      <td>400</td>
      <td>Fats and Oils</td>
    </tr>
    <tr>
      <th>5</th>
      <td>600</td>
      <td>Soups, Sauces, and Gravies</td>
    </tr>
    <tr>
      <th>6</th>
      <td>700</td>
      <td>Sausages and Luncheon Meats</td>
    </tr>
    <tr>
      <th>7</th>
      <td>800</td>
      <td>Breakfast Cereals</td>
    </tr>
    <tr>
      <th>8</th>
      <td>900</td>
      <td>Fruits and Fruit Juices</td>
    </tr>
    <tr>
      <th>9</th>
      <td>1000</td>
      <td>Pork Products</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1100</td>
      <td>Vegetables and Vegetable Products</td>
    </tr>
    <tr>
      <th>11</th>
      <td>1200</td>
      <td>Nut and Seed Products</td>
    </tr>
    <tr>
      <th>12</th>
      <td>1300</td>
      <td>Beef Products</td>
    </tr>
    <tr>
      <th>15</th>
      <td>1600</td>
      <td>Legumes and Legume Products</td>
    </tr>
    <tr>
      <th>17</th>
      <td>1800</td>
      <td>Baked Products</td>
    </tr>
    <tr>
      <th>18</th>
      <td>1900</td>
      <td>Sweets</td>
    </tr>
    <tr>
      <th>19</th>
      <td>2000</td>
      <td>Cereal Grains and Pasta</td>
    </tr>
    <tr>
      <th>20</th>
      <td>2100</td>
      <td>Fast Foods</td>
    </tr>
    <tr>
      <th>22</th>
      <td>2500</td>
      <td>Snacks</td>
    </tr>
    <tr>
      <th>24</th>
      <td>3600</td>
      <td>Restaurant Foods</td>
    </tr>
  </tbody>
</table>
</div>

In [25]:
food_des[food_des.FdGrp_Cd.isin(F_groups)]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>NDB_No</th>
      <th>FdGrp_Cd</th>
      <th>Long_Desc</th>
      <th>Shrt_Desc</th>
      <th>Com_Name</th>
      <th>ManufacName</th>
      <th>Survey</th>
      <th>Ref_Desc</th>
      <th>Refuse</th>
      <th>Sci_Name</th>
      <th>N_FActor</th>
      <th>Pro_Factor_</th>
      <th>Fat_Factor_</th>
      <th>CHO_Factor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1001</td>
      <td>100</td>
      <td>Butter, salted</td>
      <td>BUTTER,WITH SALT</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.38</td>
      <td>4.27</td>
      <td>8.79</td>
      <td>3.87</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1002</td>
      <td>100</td>
      <td>Butter, whipped, with salt</td>
      <td>BUTTER,WHIPPED,W/ SALT</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.38</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1003</td>
      <td>100</td>
      <td>Butter oil, anhydrous</td>
      <td>BUTTER OIL,ANHYDROUS</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.38</td>
      <td>4.27</td>
      <td>8.79</td>
      <td>3.87</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1004</td>
      <td>100</td>
      <td>Cheese, blue</td>
      <td>CHEESE,BLUE</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.38</td>
      <td>4.27</td>
      <td>8.79</td>
      <td>3.87</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1005</td>
      <td>100</td>
      <td>Cheese, brick</td>
      <td>CHEESE,BRICK</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.38</td>
      <td>4.27</td>
      <td>8.79</td>
      <td>3.87</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1006</td>
      <td>100</td>
      <td>Cheese, brie</td>
      <td>CHEESE,BRIE</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.38</td>
      <td>4.27</td>
      <td>8.79</td>
      <td>3.87</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1007</td>
      <td>100</td>
      <td>Cheese, camembert</td>
      <td>CHEESE,CAMEMBERT</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.38</td>
      <td>4.27</td>
      <td>8.79</td>
      <td>3.87</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1008</td>
      <td>100</td>
      <td>Cheese, caraway</td>
      <td>CHEESE,CARAWAY</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.38</td>
      <td>4.27</td>
      <td>8.79</td>
      <td>3.87</td>
    </tr>
    <tr>
      <th>8</th>
      <td>1009</td>
      <td>100</td>
      <td>Cheese, cheddar (Includes foods for USDA's Foo...</td>
      <td>CHEESE,CHEDDAR</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>9</th>
      <td>1010</td>
      <td>100</td>
      <td>Cheese, cheshire</td>
      <td>CHEESE,CHESHIRE</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.38</td>
      <td>4.27</td>
      <td>8.79</td>
      <td>3.87</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1011</td>
      <td>100</td>
      <td>Cheese, colby</td>
      <td>CHEESE,COLBY</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.38</td>
      <td>4.27</td>
      <td>8.79</td>
      <td>3.87</td>
    </tr>
    <tr>
      <th>11</th>
      <td>1012</td>
      <td>100</td>
      <td>Cheese, cottage, creamed, large or small curd</td>
      <td>CHEESE,COTTAGE,CRMD,LRG OR SML CURD</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.38</td>
      <td>4.27</td>
      <td>8.79</td>
      <td>3.87</td>
    </tr>
    <tr>
      <th>12</th>
      <td>1013</td>
      <td>100</td>
      <td>Cheese, cottage, creamed, with fruit</td>
      <td>CHEESE,COTTAGE,CRMD,W/FRUIT</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.38</td>
      <td>4.27</td>
      <td>8.79</td>
      <td>3.87</td>
    </tr>
    <tr>
      <th>13</th>
      <td>1014</td>
      <td>100</td>
      <td>Cheese, cottage, nonfat, uncreamed, dry, large...</td>
      <td>CHEESE,COTTAGE,NONFAT,UNCRMD,DRY,LRG OR SML CURD</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.38</td>
      <td>4.27</td>
      <td>8.79</td>
      <td>3.87</td>
    </tr>
    <tr>
      <th>14</th>
      <td>1015</td>
      <td>100</td>
      <td>Cheese, cottage, lowfat, 2% milkfat</td>
      <td>CHEESE,COTTAGE,LOWFAT,2% MILKFAT</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.38</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>15</th>
      <td>1016</td>
      <td>100</td>
      <td>Cheese, cottage, lowfat, 1% milkfat</td>
      <td>CHEESE,COTTAGE,LOWFAT,1% MILKFAT</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.38</td>
      <td>4.27</td>
      <td>8.79</td>
      <td>3.87</td>
    </tr>
    <tr>
      <th>16</th>
      <td>1017</td>
      <td>100</td>
      <td>Cheese, cream</td>
      <td>CHEESE,CREAM</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.38</td>
      <td>4.27</td>
      <td>8.79</td>
      <td>3.87</td>
    </tr>
    <tr>
      <th>17</th>
      <td>1018</td>
      <td>100</td>
      <td>Cheese, edam</td>
      <td>CHEESE,EDAM</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.38</td>
      <td>4.27</td>
      <td>8.79</td>
      <td>3.87</td>
    </tr>
    <tr>
      <th>18</th>
      <td>1019</td>
      <td>100</td>
      <td>Cheese, feta</td>
      <td>CHEESE,FETA</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.38</td>
      <td>4.27</td>
      <td>8.79</td>
      <td>3.87</td>
    </tr>
    <tr>
      <th>19</th>
      <td>1020</td>
      <td>100</td>
      <td>Cheese, fontina</td>
      <td>CHEESE,FONTINA</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.38</td>
      <td>4.27</td>
      <td>8.79</td>
      <td>3.87</td>
    </tr>
    <tr>
      <th>20</th>
      <td>1021</td>
      <td>100</td>
      <td>Cheese, gjetost</td>
      <td>CHEESE,GJETOST</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.38</td>
      <td>4.27</td>
      <td>8.79</td>
      <td>3.87</td>
    </tr>
    <tr>
      <th>21</th>
      <td>1022</td>
      <td>100</td>
      <td>Cheese, gouda</td>
      <td>CHEESE,GOUDA</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.38</td>
      <td>4.27</td>
      <td>8.79</td>
      <td>3.87</td>
    </tr>
    <tr>
      <th>22</th>
      <td>1023</td>
      <td>100</td>
      <td>Cheese, gruyere</td>
      <td>CHEESE,GRUYERE</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.38</td>
      <td>4.27</td>
      <td>8.79</td>
      <td>3.87</td>
    </tr>
    <tr>
      <th>23</th>
      <td>1024</td>
      <td>100</td>
      <td>Cheese, limburger</td>
      <td>CHEESE,LIMBURGER</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.38</td>
      <td>4.27</td>
      <td>8.79</td>
      <td>3.87</td>
    </tr>
    <tr>
      <th>24</th>
      <td>1025</td>
      <td>100</td>
      <td>Cheese, monterey</td>
      <td>CHEESE,MONTEREY</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.38</td>
      <td>4.27</td>
      <td>8.79</td>
      <td>3.87</td>
    </tr>
    <tr>
      <th>25</th>
      <td>1026</td>
      <td>100</td>
      <td>Cheese, mozzarella, whole milk</td>
      <td>CHEESE,MOZZARELLA,WHL MILK</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.38</td>
      <td>4.27</td>
      <td>8.79</td>
      <td>3.87</td>
    </tr>
    <tr>
      <th>26</th>
      <td>1027</td>
      <td>100</td>
      <td>Cheese, mozzarella, whole milk, low moisture</td>
      <td>CHEESE,MOZZARELLA,WHL MILK,LO MOIST</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.38</td>
      <td>4.27</td>
      <td>8.79</td>
      <td>3.87</td>
    </tr>
    <tr>
      <th>27</th>
      <td>1028</td>
      <td>100</td>
      <td>Cheese, mozzarella, part skim milk</td>
      <td>CHEESE,MOZZARELLA,PART SKIM MILK</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.38</td>
      <td>4.27</td>
      <td>8.79</td>
      <td>3.87</td>
    </tr>
    <tr>
      <th>28</th>
      <td>1029</td>
      <td>100</td>
      <td>Cheese, mozzarella, low moisture, part-skim</td>
      <td>CHEESE,MOZZARELLA,LO MOIST,PART-SKIM</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.38</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>29</th>
      <td>1030</td>
      <td>100</td>
      <td>Cheese, muenster</td>
      <td>CHEESE,MUENSTER</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.38</td>
      <td>4.27</td>
      <td>8.79</td>
      <td>3.87</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>7741</th>
      <td>43410</td>
      <td>1600</td>
      <td>Chicken, meatless, breaded, fried</td>
      <td>CHICKEN,MEATLESS,BREADED,FRIED</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7744</th>
      <td>43441</td>
      <td>1800</td>
      <td>Rolls, pumpernickel</td>
      <td>ROLLS,PUMPERNICKEL</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.25</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7745</th>
      <td>43447</td>
      <td>2500</td>
      <td>Snacks, corn-based, extruded, chips, unsalted</td>
      <td>SNACKS,CORN-BASED,EXTRUDED,CHIPS,UNSALTED</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.25</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7746</th>
      <td>43449</td>
      <td>1600</td>
      <td>Beans, baked, canned, no salt added</td>
      <td>BEANS,BKD,CND,NO SALT ADDED</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7747</th>
      <td>43450</td>
      <td>1900</td>
      <td>Frozen novelties, juice type, juice with cream</td>
      <td>FROZEN NOVELTIES,JUC TYPE,JUC W/ CRM</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.25</td>
      <td>4.00</td>
      <td>9.00</td>
      <td>4.00</td>
    </tr>
    <tr>
      <th>7748</th>
      <td>43476</td>
      <td>1600</td>
      <td>Tofu yogurt</td>
      <td>TOFU YOGURT</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7750</th>
      <td>43483</td>
      <td>800</td>
      <td>Millet, puffed</td>
      <td>MILLET,PUFFED</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7751</th>
      <td>43495</td>
      <td>800</td>
      <td>Cereals ready-to-eat, OAT BRAN FLAKES, HEALTH ...</td>
      <td>CEREALS RTE,OAT BRAN FLAKES,HEALTH VALLEY</td>
      <td>NaN</td>
      <td>Hain Celestial Group, Inc.</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7753</th>
      <td>43506</td>
      <td>1900</td>
      <td>Frozen novelties, ice cream type, chocolate or...</td>
      <td>ICE CRM BAR,CHOC OR CARAMEL COVERED,W/NUTS</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.25</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7754</th>
      <td>43507</td>
      <td>700</td>
      <td>Frankfurter, low sodium</td>
      <td>FRANKFURTER,LO NA</td>
      <td>hot dog, wiener, frank</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7755</th>
      <td>43514</td>
      <td>1900</td>
      <td>Frozen novelties, ice type, pop, with low calo...</td>
      <td>FROZEN NOVELTIES,ICE TYPE,POP,W/ LO CAL SWTNR</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.25</td>
      <td>4.00</td>
      <td>9.00</td>
      <td>4.00</td>
    </tr>
    <tr>
      <th>7763</th>
      <td>43541</td>
      <td>1900</td>
      <td>Ice creams, chocolate, rich</td>
      <td>ICE CREAMS,CHOC,RICH</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.25</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7764</th>
      <td>43543</td>
      <td>100</td>
      <td>Milk, imitation, non-soy</td>
      <td>MILK,IMITATION,NON-SOY</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.38</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7768</th>
      <td>43566</td>
      <td>2500</td>
      <td>Snacks, tortilla chips, light (baked with less...</td>
      <td>SNACKS,TORTILLA CHIPS,LT (BAKED W/ LESS OIL)</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.25</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7769</th>
      <td>43570</td>
      <td>800</td>
      <td>Cereals ready-to-eat, POST, HONEY BUNCHES OF O...</td>
      <td>CEREALS RTE,POST,HONEY BUNCHES OF OATS,HONEY RSTD</td>
      <td>NaN</td>
      <td>Post Foods, LLC</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7770</th>
      <td>43572</td>
      <td>2500</td>
      <td>Popcorn, microwave, low fat and sodium</td>
      <td>POPCORN,MICROWAVE,LOFAT&amp;NA</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7772</th>
      <td>43589</td>
      <td>100</td>
      <td>Cheese, swiss, low fat</td>
      <td>CHEESE,SWISS,LOW FAT</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.38</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7773</th>
      <td>43595</td>
      <td>2500</td>
      <td>Breakfast bar, corn flake crust with fruit</td>
      <td>BREAKFAST BAR,CORN FLAKE CRUST W/FRUIT</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7774</th>
      <td>43597</td>
      <td>100</td>
      <td>Cheese, mozzarella, low sodium</td>
      <td>CHEESE,MOZZARELLA,LO NA</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.38</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7775</th>
      <td>43598</td>
      <td>400</td>
      <td>Mayonnaise dressing, no cholesterol</td>
      <td>MAYONNAISE DRSNG,NO CHOL</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>4.36</td>
      <td>8.84</td>
      <td>3.80</td>
    </tr>
    <tr>
      <th>7776</th>
      <td>44005</td>
      <td>400</td>
      <td>Oil, corn, peanut, and olive</td>
      <td>OIL,CORN,PEANUT,AND OLIVE</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7777</th>
      <td>44018</td>
      <td>1900</td>
      <td>Sweeteners, tabletop, fructose, liquid</td>
      <td>SWEETENERS,TABLETOP,FRUCTOSE,LIQ</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.25</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>3.66</td>
    </tr>
    <tr>
      <th>7778</th>
      <td>44061</td>
      <td>1900</td>
      <td>Puddings, chocolate flavor, low calorie, insta...</td>
      <td>PUDDINGS,CHOC FLAVOR,LO CAL,INST,DRY MIX</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>6.25</td>
      <td>4.00</td>
      <td>9.00</td>
      <td>4.00</td>
    </tr>
    <tr>
      <th>7780</th>
      <td>44110</td>
      <td>1900</td>
      <td>Jellies, reduced sugar, home preserved</td>
      <td>JELLIES,RED SUGAR,HOME PRESERVED</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Y</td>

In [59]:
food_des[food_des.FdGrp_Cd.isin(F_groups)].shape

(5662, 14)

In [103]:
reg_by_grp = pd.DataFrame([{'FdGrp_Cd':f, 'FdGrp_items': food_des[food_des.FdGrp_Cd == f].shape[0]} for f in F_groups])
flt_grp = fd_group[fd_group.FdGrp_Cd.isin(F_groups)]

In [105]:
sz_by_grp = flt_grp.merge(reg_by_grp, left_on='FdGrp_Cd', right_on='FdGrp_Cd', how='outer')

In [107]:
sz_by_grp

    FdGrp_Cd                         FdGrp_desc  FdGrp_items
0        100             Dairy and Egg Products          291
1        400                      Fats and Oils          216
2        600         Soups, Sauces, and Gravies          254
3        700        Sausages and Luncheon Meats          167
4        800                  Breakfast Cereals          195
5        900            Fruits and Fruit Juices          355
6       1000                      Pork Products          336
7       1100  Vegetables and Vegetable Products          814
8       1200              Nut and Seed Products          137
9       1300                      Beef Products          954
10      1600        Legumes and Legume Products          290
11      1800                     Baked Products          517
12      1900                             Sweets          358
13      2000            Cereal Grains and Pasta          181
14      2100                         Fast Foods          312
15      2500                             Snacks          176
16      3600                   Restaurant Foods          109